<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="rm_75">
    <!-- <xacro:arg name="initial_positions_file" default="initial_positions.yaml" /> -->

    <!-- Import rm_75 urdf file -->
    <xacro:include filename="$(find rm_75_description)/urdf/rm_75.urdf.xacro" />

    <!-- Import control_xacro -->
    <!-- <xacro:include filename="rm_75.ros2_control.xacro" /> -->


    <!-- <xacro:rm_75_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/> -->

</robot>
